.logo {
  max-width: 340px;
  height: 42px;
  line-height: 42px;
  // margin-bottom: 20px;
  .logo-text {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 18px;
    color: #fff;
    font-weight: bold;
    font-family: Helvetica, sans-serif;
    &.logo-img>img{
      margin-right: 5px;
    }
  }
  img{
    width: 35px;
    height: 35px;
  }
}

// @media screen and (max-width: 1199px) {
//   .logo {
//     width: 80px;
//     .logo-text {
//       font-size: 22px;
//     }
//   }
// }
